---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
import settings from '../content/settings.json'; 
import { Image } from 'astro:assets'; 

const allLinkFiles = await import.meta.glob('../content/links/*.json', { eager: true });
const allLinks = Object.values(allLinkFiles);
const sortedLinks = allLinks
  .filter(link => typeof link.order === 'number')
  .sort((a, b) => a.order - b.order);

const avatarPath = settings.avatar;
---

<Layout>
	<main>
    {avatarPath && (
      <Image 
        src={import(/* @vite-ignore */ `../assets/images/${avatarPath.split('/').pop()}`)}
        alt="Foto de perfil" 
        width={120} 
        height={120} 
        class="avatar" 
      />
    )}
		
		<h1>@SeuNome</h1>

    <div class="links-container">
      {sortedLinks.map(link => (
        <LinkButton 
          href={link.url}
          title={link.title}
          highlight={link.highlight}
        />
      ))}
    </div>
	</main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 80vw;
    max-width: 600px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 1rem;
    object-fit: cover; /* Garante que a imagem preencha o círculo */
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
</style>