---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
import settings from '../content/settings.json';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro:assets';


const allImages = await import.meta.glob<{ default: ImageMetadata }>('../assets/images/*');

const avatarPathFromCMS = settings.avatar;

let avatarImage;
if (avatarPathFromCMS) {
  const normalizedPath = '../' + avatarPathFromCMS.substring(4);

  if (allImages[normalizedPath]) {
    const imageModule = await allImages[normalizedPath]();
    avatarImage = imageModule.default;
  }
}

const allLinkFiles = await import.meta.glob('../content/links/*.json', { eager: true });
const allLinks = Object.values(allLinkFiles);
const sortedLinks = allLinks
  .filter(link => typeof link.order === 'number')
  .sort((a, b) => a.order - b.order);
---

<Layout>
	<main>
    {avatarImage && (
      <Image 
        src={avatarImage}
        alt="Foto de perfil" 
        width={120} 
        height={120} 
        class="avatar" 
      />
    )}
		
		<h1>@SeuNome</h1>

    <div class="links-container">
      {sortedLinks.map(link => (
        <LinkButton 
          href={link.url}
          title={link.title}
          highlight={link.highlight}
        />
      ))}
    </div>
	</main>
</Layout>

<style>
  /* O CSS permanece o mesmo */
  main, .avatar, h1 { /* ... */ }
</style>